body {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 2em;
}

a {
    color: #0074D9;
}

.container {
    width: 820px;
    margin: 0 auto;
}

.footer {
    border-top: 4px solid #eee;
}

.footer__contact {
    float: left;
}

.footer__social {
    float: right;
}

.contact {
    font-style: italic;
    color: #666;
}

.post__header {
    text-align: center;
    margin: 40px auto;
    max-width: 400px;
}

.post__title {
    margin: 0;
}

.post__time {
    font-style: italic;
    color: #aaa;
}

.post__content pre {
    padding: 20px 0;
    border: 2px dashed #eee;
    border-width: 2px 0 2px 0;
}

.post__content img {
    max-width: 100%;
}

.post__content .right {
    float: right;
}

.post__content .left {
    float: left;
}
