body {
  font-family: Georgia, serif; }

a {
  text-decoration: none;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }
  a:link {
    color: #551a8b; }
  a:visited {
    color: #551a8b; }
  a:hover {
    text-decoration: underline;
    color: #250a5b; }
  a:active {
    color: #551a8b; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

div#container {
  width: 710px;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 3px solid #dadada; }

div#header #search, div#header ul {
  position: absolute; }
div#header #search {
  top: 0.5em;
  right: 0; }
  div#header #search input {
    font-family: Arial, sans-serif;
    border: 2px solid #eaeaea;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
div#header ul {
  top: -2em;
  right: 0;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none; }
  div#header ul li {
    display: block;
    float: left;
    padding: 0 5px; }

div#content {
  color: #393939;
  font-size: 1.1em; }
  div#content > h1 {
    margin: 0;
    font-size: 1.7em; }
  div#content .right {
    float: right; }
  div#content .left {
    float: left; }
  div#content p, div#content ul, div#content ol {
    line-height: 1.4em; }
  div#content h1, div#content h2, div#content h3, div#content h4, div#content h5 {
    color: #000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16); }
  div#content img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width: 710px; }
    div#content img.right {
      margin: 0 0 1em 1em; }
    div#content img.left {
      margin: 0 1em 1em 0; }
  div#content code {
    font-size: 0.9em; }
  div#content pre {
    background: #000;
    color: #fff;
    line-height: 1.5em;
    padding: 1em 1.5em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    white-space: pre;
    overflow: auto; }
  div#content pre code {
    display: inline-block; }
  div#content article.detail {
    border-bottom: 3px solid #dadada;
    padding-bottom: 20px;
    margin-bottom: 40px; }
  div#content article > h1 {
    margin: 0;
    font-size: 1.7em;
    width: 70%; }
  div#content article h2, div#content article h3, div#content article h4, div#content article h5 {
    margin: 1em 0 -0.3em 0; }
  div#content article div.meta {
    color: #aaa;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 2em; }
    div#content article div.meta time {
      color: #496692; }
    div#content article div.meta span.tag {
      display: inline-block;
      color: #000;
      font-size: 0.8em;
      font-style: normal;
      background: #eae5f9;
      padding: 1px 10px;
      margin: 0 3px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.16); }
  div#content #posts {
    font-size: 0.8em; }
  div#content #error404 {
    margin-top: 100px;
    text-align: center; }
    div#content #error404 h1 {
      color: #900;
      width: 400px; }
    div#content #error404 img {
      float: right;
      position: relative;
      top: -70px;
      margin-top: 20px; }
