@import url(http://fonts.googleapis.com/css?family=Patua+One);
/* CSS3 border radius */
/* CSS3 box shadow */
/* CSS3 transition */
body {
  font-family: Palatino, Georgia, serif;
  background: #f2f2f2; }

a {
  text-decoration: none;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out; }
  a:link {
    color: #551a8b; }
  a:visited {
    color: #551a8b; }
  a:hover {
    text-decoration: underline;
    color: #250a5b; }
  a:active {
    color: #551a8b; }

.clear {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

div#container {
  background: #fff;
  width: 840px;
  margin: 0 auto;
  position: relative;
  padding: 10px 20px;
  -webkit-box-shadow: 0 1px 4px #999999;
  -moz-box-shadow: 0 1px 4px #999999;
  box-shadow: 0 1px 4px #999999; }

div#header {
  margin-bottom: 1em;
  border-bottom: 3px solid #d9d9d9;
  padding-bottom: 0.3em; }
  div#header #logo {
    margin-top: -0.3em;
    float: left;
    font-family: 'Patua One', Georgia, serif;
    font-size: 1.5em; }
    div#header #logo a {
      color: rgba(255, 187, 0, 0.7);
      /* text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.66); */
      -webkit-transition: color 0.5s ease-in-out;
      -moz-transition: color 0.5s ease-in-out;
      -o-transition: color 0.5s ease-in-out;
      -ms-transition: color 0.5s ease-in-out;
      transition: color 0.5s ease-in-out; }
      div#header #logo a:hover {
        color: #fb0; }
    div#header #logo span {
      color: #999; }
  div#header ul {
    float: right;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none; }
    div#header ul li {
      display: block;
      float: left;
      padding: 0 5px; }

div#content {
  color: #191919;
  font-size: 1.3em; }
  div#content > h1 {
    margin: 0; }
  div#content .right {
    float: right; }
  div#content .left {
    float: left; }
  div#content div.navigation {
    margin-bottom: 10px;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
    div#content div.navigation a {
      color: rgba(85, 26, 139, 0.2); }
      div#content div.navigation a:hover {
        color: #551a8b; }
    div#content div.navigation a.previous {
      float: left; }
    div#content div.navigation a.next {
      float: right; }
  div#content p, div#content ul, div#content ol {
    line-height: 1.4em; }
  div#content h1, div#content h2, div#content h3, div#content h4, div#content h5 {
    font-family: 'Patua One', Palatino, Georgia, serif;
    color: #000;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16); }
  div#content img {
    max-width: 840px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    div#content img.right {
      margin: 0 0 1em 1em; }
    div#content img.left {
      margin: 0 1em 1em 0; }
    div#content img.half {
      max-width: 400px; }
    div#content img.two-thirds {
      max-width: 533.333px; }
  div#content code {
    font-size: 0.75em; }
  div#content pre {
    background: #000;
    color: #fff;
    line-height: 1.3em;
    padding: 0.5em 1em;
    white-space: pre;
    overflow: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  div#content pre code {
    display: inline-block; }
  div#content article.detail {
    border-bottom: 3px solid #dadada;
    padding-bottom: 20px;
    margin-bottom: 40px; }
  div#content article h1.title {
    margin: 0;
    font-size: 1.7em; }
  div#content article h2, div#content article h3, div#content article h4, div#content article h5 {
    margin: 1em 0 -0.3em 0; }
  div#content .social {
    margin-top: 0.9em;
    float: right; }
    div#content .social a {
      display: block;
      float: left;
      padding: 0 5px; }
  div#content #posts {
    font-size: 0.65em; }
    div#content #posts article {
      margin-bottom: 1em; }
  div#content #error404 {
    margin-top: 100px;
    text-align: center; }
    div#content #error404 h1 {
      color: #900;
      width: 400px; }
    div#content #error404 img {
      float: right;
      position: relative;
      top: -70px;
      margin-top: 20px; }

@media screen and (max-device-width: 480px) {
  div#container {
    padding: 10px;
    width: 300px; }

  div#header #logo {
    margin-bottom: 0.3em; }

  div#header ul {
    clear: both;
    float: left;
    margin-left: -5px; }

  div#content img {
    max-width: 300px; }

  div#content .social a {
    float: none;
    margin-bottom: 3px; } }
