@import url(http://fonts.googleapis.com/css?family=Patua+One);

$width: 800px;
$link-color: #551a8b;

/* CSS3 border radius */
@mixin border-radius($width) {
    -moz-border-radius: $width;
    -webkit-border-radius: $width;
    border-radius: $width;
}

/* CSS3 box shadow */
@mixin box-shadow($arg) {
  -webkit-box-shadow: $arg;
  -moz-box-shadow: $arg;
  box-shadow: $arg;
}

/* CSS3 transition */
@mixin transition($arg) {
  -webkit-transition: $arg;
  -moz-transition: $arg;
  -o-transition: $arg;
  -ms-transition: $arg;
  transition: $arg;
}

body {
  font-family: Palatino, Georgia, serif;
}

a {
  text-decoration: none;
  @include transition(color 0.5s ease-in-out);

  &:link {
    color: $link-color;
  }
  &:visited {
    color: $link-color;
  }
  &:hover {
    text-decoration: underline;
    color: #250a5b;
  }
  &:active {
    color: $link-color;
  }
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

div#container {
  width: $width;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 3px solid #dadada;
}

div#header {
  #search, ul, #logo {
    position: absolute;
  }
  #search {
    top: 0.5em;
    right: 0;
    input {
      font-family: Arial, sans-serif;
      border: 2px solid #eaeaea;
      @include border-radius(5px);
    }
  }
  #logo {
    font-family: 'Patua One', Georgia, serif;
    font-size: 1.5em;
    top: -1.6em;

    a {
      color: rgba(255, 187, 0, 0.7);
      /* text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.66); */
      @include transition(color 0.5s ease-in-out);

      &:hover {
        color: #fb0;
      }
    }
    span {
      color: #999;
    }
  }
  ul {
    top: -1.9em;
    right: 0;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: block;
      float: left;
      padding: 0 5px;
    }
  }
}

div#content {
  color: #191919;
  font-size: 1.3em;

  & > h1 {
    margin: 0;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  div.navigation {
    margin-bottom: 10px;
    @include transition(color 0.1s ease-in-out);

    a {
      color: rgba(85, 26, 139, 0.2);

      &:hover {
        color: $link-color;
      }
    }
    a.previous {
      float: left;
    }
    a.next {
      float: right;
    }
  }
  p, ul, ol {
    line-height: 1.4em;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Patua One', Palatino, Georgia, serif;
    color: #000;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.16);
  }
  img {
    max-width: $width;
    @include border-radius(5px);

    &.right {
      margin: 0 0 1em 1em;
    }
    &.left {
      margin: 0 1em 1em 0;
    }
    &.half {
      max-width: $width / 2;
    }
    &.two-thirds {
      max-width: $width * (2/3);
    }
  }
  code {
    font-size: 0.75em;
  }
  pre {
    background: #000;
    color: #fff;
    line-height: 1.3em;
    padding: 0.5em 1em;
    white-space: pre;
    overflow: auto;
    @include border-radius(10px);
  }
  pre code {
    display: inline-block;
  }
  article {
    &.detail {
      border-bottom: 3px solid #dadada;
      padding-bottom: 20px;
      margin-bottom: 40px;
    }
    h1.title {
      margin: 0;
      font-size: 1.7em;
    }
    h2, h3, h4, h5 {
      margin: 1em 0 -0.3em 0;
    }
  }

  .social {
    margin-top: 0.9em;
    float: right;

    a {
      display: block;
      float: left;
      padding: 0 5px;
    }
  }

  #posts {
    font-size: 0.65em;

    article {
      margin-bottom: 1em;
    }
  }

  #error404 {
    margin-top: 100px;
    text-align: center;
    h1 {
      color: #900;
      width: 400px;
    }
    img {
      float: right;
      position: relative;
      top: -70px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-device-width: 480px) {
  div#container {
    width: 300px;
    margin-top: 80px;
  }

  div#header #logo {
    top: -3em;
  }

  div#header ul {
    left: -5px;
    right: auto;
  }

  div#content img {
    max-width: 300px;
  }

  div#content .social a {
    float: none;
    margin-bottom: 3px;
  }
}
