$width: 710px;
$link-color: #551a8b;

/* CSS3 border radius */
@mixin border-radius($width) {
    -moz-border-radius: $width;
    -webkit-border-radius: $width;
    border-radius: $width;
}

/* CSS3 box shadow */
@mixin box-shadow($arg) {
  -webkit-box-shadow: $arg;
  -moz-box-shadow: $arg;
  box-shadow: $arg;
}

/* CSS3 transition */
@mixin transition($arg) {
  -webkit-transition: $arg;
  -moz-transition: $arg;
  -o-transition: $arg;
  -ms-transition: $arg;
  transition: $arg;
}

body {
  font-family: Georgia, serif;
}

a {
  text-decoration: none;
  @include transition(color 0.5s ease-in-out);

  &:link {
    color: $link-color;
  }
  &:visited {
    color: $link-color;
  }
  &:hover {
    text-decoration: underline;
    color: #250a5b;
  }
  &:active {
    color: $link-color;
  }
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

div#container {
  width: $width;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 3px solid #dadada;
}

div#header {
  #search, ul {
    position: absolute;
  }
  #search {
    top: 0.5em;
    right: 0;
    input {
      font-family: Arial, sans-serif;
      border: 2px solid #eaeaea;
      @include border-radius(5px);
    }
  }
  ul {
    top: -2em;
    right: 0;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: block;
      float: left;
      padding: 0 5px;
    }
  }
}

div#content {
  color: #393939;
  font-size: 1.1em;

  & > h1 {
    margin: 0;
    font-size: 1.7em;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  div.navigation {
    margin-bottom: 10px;
    @include transition(color 0.1s ease-in-out);

    a {
      color: rgba(85, 26, 139, 0.2);

      &:hover {
        color: $link-color;
      }
    }
    a.previous {
      float: left;
    }
    a.next {
      float: right;
    }
  }
  p, ul, ol {
    line-height: 1.4em;
  }
  h1, h2, h3, h4, h5 {
    color: #000;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.16);
  }
  img {
    max-width: $width;
    @include border-radius(5px);

    &.right {
      margin: 0 0 1em 1em;
    }
    &.left {
      margin: 0 1em 1em 0;
    }
  }
  code {
    font-size: 0.9em;
  }
  pre {
    background: #000;
    color: #fff;
    line-height: 1.5em;
    padding: 1em 1.5em;
    white-space: pre;
    overflow: auto;
    @include border-radius(10px);
  }
  pre code {
    display: inline-block;
  }
  article {
    &.detail {
      border-bottom: 3px solid #dadada;
      padding-bottom: 20px;
      margin-bottom: 40px;
    }
    & > h1 {
      margin: 0;
      font-size: 1.7em;
      /* width: 70%; */
    }
    h2, h3, h4, h5 {
      margin: 1em 0 -0.3em 0;
    }
    div.meta {
      color: #aaa;
      font-style: italic;
      font-weight: 300;
      margin-bottom: 2em;

      time {
        color: #496692;
      }
      span.tag {
        display: inline-block;
        color: #000;
        font-size: 0.8em;
        font-style: normal;
        background: #eae5f9;
        padding: 1px 10px;
        margin: 0 3px;
        @include box-shadow(1px 1px 1px 1px rgba(0, 0, 0, 0.16));
        @include border-radius(6px);
      }
    }
  }

  #posts {
    font-size: 0.8em;
  }

  #error404 {
    margin-top: 100px;
    text-align: center;
    h1 {
      color: #900;
      width: 400px;
    }
    img {
      float: right;
      position: relative;
      top: -70px;
      margin-top: 20px;
    }
  }
}
