<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{% if page.title != '' %} {{ page.title }} | {% endif %} ejholmes.github.com</title>
	<meta name="author" content="Eric Holmes" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/js/application.js"></script>

	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
	
	<link href="/atom.xml" rel="alternate" title="ejholmes.github.com" type="application/atom+xml" />
	
	<meta name="google-site-verification" content="T8tduujU86nNiwAigOFNuyawrCXZZWZ8LJmwgR_ZUSY" />
</head>
<body>
	<div id="container">
		<div id="header">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="http://github.com/ejholmes">Github</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>
		</div>
		<div class="clear"></div>
			{{ content }}
		{% include footer.html %}
	</div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22542026-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
