---
layout: default
---
{% assign detail = true %}
{% assign post = page %}
<div class="navigation">
    {% if post.previous.url %}
        <a class="previous" title="Previous Post: {{post.previous.title}}" href="{{post.previous.url}}">&laquo; {{post.previous.title | truncate: 30}}</a>
    {% endif %}
    {% if post.next.url %}
        <a class="next" title="next Post: {{post.next.title}}" href="{{post.next.url}}">{{post.next.title | truncate: 30}} &raquo;</a>
    {% endif %}
    <div class="clear"></div>
</div>
{% include post.html %}
{% include comments.html %}
